<h1 class="mt-3">¡Bienvenidos a Crazy4Cats!</h1>
<p class="mt-3">Aqui puedes hablar de tus gatitos, sin que nadie te juzgue!</p>
<%= link_to 'Ver Publicaciones', posts_path, class: 'btn' %>
<div>
<img src="https://i.pinimg.com/originals/9f/57/86/9f57868549d213036635dbeded3af220.gif" class="gatito" alt="gatito">
</div>